<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Electronics Page</title>
</head>

<body>
    {% if messages %}
    <ul class="messages">
        {% for msg in messages %}
        <li>
            <div class='alert alert-{{msg.level_tag}} role=' alert '>
                {{msg.message}}
            </div>
        </li>
        {% endfor %}
    {% endif%}

    <h1>Hello there, {{ request.session.customer }} have visited this site {{ request.COOKIES.visits|default:"1"}} times</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Item</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td> {{ item }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <table>
        {% if items.has_other_pages %}
        <tr class="pagination">
            {% if items.has_previous %}
            <td><button><a href="?page={{ item.previous_page_number }}">Previous</a></button></td>
            {% endif %}
            <td class="">
                <span>Page {{ items.number }} or {{ items.paginator.num_pages }}.</span>
            </td>
            {% if items.has_next %}
            <td><button><a href="?page={{ items.next_page_number }}">Next</a></button></td>
            {% endif %}
        </tr>
        {% endif %}
    </table>
    <a href="/logout">Logout</a>
</body>